.chat_username {
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
    color: #333333;
}

.chat_message {
    padding: 3px;
    font-size: 14px;
    line-height: 26px;
    position: relative;
    color: #333333;
}

.chat_time {
    font-size: 10px;
    line-height: 8px;
    position: relative;
    padding-bottom: 16px;
    color: #333333;
}

.chat_textbox {
    height: 40px;
    margin-top: 1px;
}